<h1>Complete Your Profile</h1>
<%= form_tag put_profile_path(@profile), :method => :put, :class => 'form' do %>
  <%= label nil, nil, 'Name', :class => 'col-form-label' %>
  <%= text_field nil, nil, :value => @current_user.name, :disabled => true, :class => 'form-control' %>
  <br/>
  <%= label nil, nil, 'Email', :class => 'col-form-label' %>
  <%= text_field nil, nil, :value => @current_user.email, :disabled => true, :class => 'form-control' %>
  <br/>
  <%= label :profile, :bio, 'Bio' , :class=> 'control-label' %>
  <%= text_field :profile, :bio, :value=> @profile.bio, :class => 'form-control' %>
  <br/>
  <%= submit_tag 'Save', :class => 'btn btn-primary' %>
<% end %>