<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <style>
      .sign-google {
          background: url('https://images.theconversation.com/files/93616/original/image-20150902-6700-t2axrz.jpg?ixlib=rb-1.1.0&q=45&auto=format&w=1000&fit=clip') #f2f2f2;
          background-position: -9px -7px;
          background-repeat: no-repeat;
          background-size: 37px 40px;
          padding-left: 42px;
          color: black;
      }
      .link{
          color: black;
          text-decoration: none;
      }
      .new_post{
          font-family: "Sans-serif", "Arial", monospace;
          font-weight: bold;
          font-size: 20px;
          padding-top:10px;
      }
      #post {
          margin-top:30px;
          margin-bottom:30px;
      }
  </style>
</head>
<h1>All Posts</h1>
<div class="btn btn-primary">
  <%= link_to "Go Back", root_path, :method => :get, :class => "link"%>
</div>
<p class="new_post">
  Create A New Post
</p>
<div class="btn btn-primary">
  <%= link_to "New Post", posts_new_path, :method => :get, :class => "link"%>
</div>
<br/>
<table class="table table-striped col-md-12" id="post">
  <thead>
  <tr>
    <th>User</th>
    <th>Content</th>
    <th>Tags</th>
    <th>Last Updated Time</th>
    <th>Likes</th>
  </tr>
  </thead>
  <tbody>
  <% @posts.each do |post| %>
    <tr>
      <td>
        <%= link_to post.user, display_profile_path(post.user_id), :method => :get, :class => "link" %>
      </td>
      <td>
        <%= link_to post.content, show_post_path(post), :method => :get, :class => "link" %>
      </td>
      <td>
        <% ((post.tags).split(', ')).each do |tag| %>
          <%= link_to tag, show_tag_posts_path(tag), :method => :get, :class => "link" %>
        <% end %>
      </td>
      <td>
        <%= post.updated_at %>
      </td>
      <td>
        <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>